.home {
}


.hero{
	height: 100vh;
	overflow: hidden;
	padding-top: pxem(67);
	position: relative;

	&:before{
		background: $brand-red2;
		content: '';
		display: block;
		opacity: 0.65;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}

	&:after{
		background: linear-gradient(rgba($brand-red-drk,0), $brand-red-drk);
		content: '';
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 47%;
		min-height: pxem(400);
		z-index: 4;
	}

	.hero-bg{
		background: #000 no-repeat center;
		background-size: cover;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.hero-slider{
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 2;

		.slick-list,
		.slick-track,
		.slick-slide,
		.slick-slide > div,
		.slide{
			height: 100%;
		}
		.img{
			background: no-repeat center;
			background-size: cover;
			height: 100%;
			width: 100%;
		}

		img{
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

	}

	// .hero-video-container{
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	height: 100vh;
	// 	width: 100%;
	// 	z-index: 2;
	// }

	.hero-video{
		background-size: cover;
		position: absolute;
		overflow: hidden;
		z-index: 1;

		/* if not 100vh ****************************************************************/
		// width: 100%;
		// height: 56.25vw;
		// top: 50%;
		// left: 0;
		// transform: translateY(-50%);
		
		// // max-width: calc( [hero height]  * 1.778 )
		// @media (max-width: calc(pxem(590) * 1.778)) {
		// 	height: 100%;
		// 	width: 177.78vh;
		// 	top: 0;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }
		/*******************************************************************************/

		@media (min-height : 56.25vw) { /* video h/w raio / hero height (i.e. 56.25 / 0.9 = 62.5vw) */
			height: 100%;
			width: 177.78vh;  /* ((w / h) * 100) * hero height  (like  177.78vh * 0.9 ) */
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		@media (max-height : 56.25vw) { /* video h/w raio / hero height (i.e. 56.25 / 0.9 = 62.5vw) */
			height: 56.25vw; // ( h / w )
			width: 100%;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

		iframe,
		video{
			display: block;
			// filter: blur(0.4rem);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	.hero-content{
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 0;
		position: relative;
		text-align: center;
		width: 100%;
		z-index: 5;

		.container{
			max-width: pxem(900);
		}

		.logo{
			display: block;
			height: 41vh;
			max-height: pxem(380);
			margin: 0 auto pxem(20) auto;
			
			@media (max-width: $mobile) {
				max-height: pxem(300);
			}

			.js &{
				opacity: 0;
				transform: rotate(5deg) scale(0.95);
				transition: all 1s;

			}
			.js	.ready &{
				opacity: 1;
				transform: rotate(0deg) scale(1);
			}
		}

		.hero-title{
			font-size: pxem(65);
			font-weight: 400;
			margin: 0 0 0.3em 0;
			
			@media (max-width: $mobile) {
				font-size: pxem(48);
			}

			b,strong{
				font-weight: 700;
			}
			.js &{
				opacity: 0;
				transform: scale(0.9);
				transition: all 1s;
				transition-delay: 0.2s;
			}
			.js	.ready &{
				opacity: 1;
				transform: scale(1);
			}
		}
		.content{
			font-size: pxem(17);
			
			.js &{
				opacity: 0;
				transform: scale(0.9);
				transition: all 1s;
				transition-delay: 0.3s;
			}
			.js	.ready &{
				opacity: 1;
				transform: scale(1);
			}
		}
		.form{
			margin: pxem(50) auto 0 auto;
			max-width: pxem(350);
			
			.js &{
				opacity: 0;
				transform: scale(0.9);
				transition: all 1s;
				transition-delay: 0.4s;
			}
			.js	.ready &{
				opacity: 1;
				transform: scale(1);
			}

			.gform_description{
				font-family: $font-family-headline;
				font-size: pxem(20);
				font-weight: 700;
				letter-spacing: 0.04em;
				margin: 0 0 0.5em 0;

				@media (max-width: $mobile) {
					font-size: pxem(18);

				}

				b,strong{
					font-weight: 700;
				}
			}

			.gform_footer{
				text-align: center;

				&:after{
					display: none;
				}
			}

			.button{
				color: #fff;
				border-color: #fff;
				font-size: pxem(17);

				&:hover{
					color: $brand-brown-lt;
					border-color: $brand-brown-lt;
				}
			}
		}
	}
}

// .mfp-iframe-holder{
// 	.mfp-content{
// 		max-width: 90%;
// 	}
// }

// .hero-popup{
// 	.mfp-content{
// 		height: 80%;
// 		width: 90%;
// 		position: relative;

// 		.video-outer-wrap{
// 			aspect-ratio: 16 / 9;
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			bottom: 0;
// 			left: 0;
// 			margin: auto;
// 			max-height: 100%;
// 			max-width: 100%;
// 		}

// 		.video-container{
// 			display: block;
// 			padding-bottom: 56.25%;
// 			position: relative;
// 			width: 100%;

// 			video,
// 			iframe{
// 				display: block;
// 				position: absolute;
// 				top: 0;
// 				right: 0;
// 				bottom: 0;
// 				left: 0;
// 				width: 100%;
// 				height: 100%;
// 			}
// 		}

// 		.mfp-close{
// 			color: #fff;
// 			top: -40px;
// 			right: -10px;
// 		}
// 	}
// }

// #hero-video-modal-container{
// 	display: none;

// 	.mfp-wrap &{
// 		display: block;
// 	}
// }


.home-section{
	position: relative;
	
	// .js &{
	// 	&.scroll-animate-item{
	// 		.bg{
	// 			opacity: 0;
	// 			transition: opacity 0.5s;
	// 		}
	// 		.section-title{
	// 			opacity: 0;
	// 			transition: opacity 0.5s;
	// 		}
	// 		.section-subtitle{
	// 			opacity: 0;
	// 			transition: opacity 0.5s;
	// 		}
	// 		.wysiwyg{
	// 			opacity: 0;
	// 			transition: opacity 0.5s;

	// 		}

	// 		&.vis{
	// 			.bg{
	// 				opacity: 1;
	// 				// transition-delay: 0;
	// 			}
	// 			.section-title{
	// 				opacity: 1;
	// 				transition-delay: 0.2s;
	// 			}
	// 			.section-subtitle{
	// 				opacity: 1;
	// 				transition-delay: 0.3s;
	// 			}
	// 			.wysiwyg{
	// 				opacity: 1;
	// 				transition-delay: 0.3s;

	// 			}
	// 		}
	// 	}
	// }

	.bg{
		display: block;
		object-fit: cover;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		.js &{
			&.scroll-animate-item{
				opacity: 0;
				transition: opacity 1s;

				&.vis{
					opacity: 1;
				}
			}
		}
	}

	.container{
		position: relative;
		z-index: 5;
	}

	.content{

		.js &{
			&.scroll-animate-item{
				.section-title,
				.section-subtitle,
				.wysiwyg,
				.button{
					opacity: 0;
					transition: opacity 0.5s;
				}

				&.vis{
					.section-title,
					.section-subtitle,
					.wysiwyg,
					.button{
						opacity: 1;
					}
					.section-title{
					}
					.section-subtitle{
						transition-delay: 0.2s;
					}
					.wysiwyg{
						transition-delay: 0.4s;
					}
					.button{
						transition-delay: 0.6s !important;
					}
				}
			}
		}
	}

	.section-title{
		font-size: pxem(65);
		font-weight: 700;
		margin: 0 0 0.2em 0;

		@media (max-width: $phablet) {
			font-size: pxem(48);
		}
	}
	.section-subtitle{
		font-size: pxem(27);
		font-weight: 600;
		margin: 0 0 0.7em 0;

		@media (max-width: $phablet) {
			font-size: pxem(24);
		}
	}
}

.home-intro{
	background: #000;
	color: #fff;
	padding: 26vw 0 pxem(75) 0;
	text-align: center;

	.bg{
		height: auto;
		bottom: auto;

		&:after{
			background: linear-gradient(rgba(0,0,0,0), #000);
			content: '';
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			z-index: 4;
		}

		img{
			display: block;
			position: relative;
			width: 100%;
			z-index: 1;
		}
	}
	
	.section-title{
		color: $brand-brown-lt;
		font-weight: 600;
	}

	.section-subtitle{
		font-size: pxem(32);
		font-weight: 400;
		margin-bottom: 0.7em;

		@media (max-width: $phablet) {
			font-size: pxem(26);
		}
	}
	.wysiwyg{
		margin-top: pxem(30);
	}

	.button{
		margin-top: 1em;
	}

	.topics{
		border-top: 1px solid $brand-brown-lt;
		margin: pxem(30) auto 0 auto;
		max-width: pxem(980);
		padding-top: pxem(30);

		.js &{
			&.scroll-animate-item{
				.section-title,
				.wysiwyg{
					opacity: 0;
					transition: opacity 0.5s;
				}

				&.vis{
					.section-title,
					.wysiwyg{
						opacity: 1;
					}
					.section-title{
					}
					.wysiwyg{
						transition-delay: 0.2s;
					}
				}
			}
		}

		.section-title{
			color: $brand-brown-lt;
			font-size: pxem(48);
			font-weight: 600;
			margin-bottom: 0.5em;
		}

		.wysiwyg{
			color: $brand-brown-lt;
			margin: 0;

			ul{
				columns: 2;
				column-gap: 3em;
				text-align: left;

				@media (max-width: $tablet) {
					columns: 1;
				}

				li{
					break-inside: avoid;
				}
			}
		}
	}
}

.home-host{
	background: #000;
	color: #fff;
	overflow: hidden;
	padding: pxem(100) 0 pxem(140) 0;

	@media (max-width: $tablet) {
		padding-bottom: pxem(60);
	}

	.bg{
		opacity: 0.45;

		&.vis{
			opacity: 0.45 !important;
		}
	}

	.container{
		// max-width: pxem(1150);
		.js &{
			&.scroll-animate-item{
				.section-title,
				.section-subtitle,
				.wysiwyg{
					opacity: 0;
					transition: opacity 0.5s;
				}
				.signature{
					opacity: 0;
					transform: scale(0.9) translate(-10%,0);
					transition: all 0.5s;
				}
				.image{
					opacity: 0;
					transform: scale(0.9);
					transition: all 0.5s;
				}

				&.vis{
					.section-title,
					.section-subtitle,
					.wysiwyg,
					.signature,
					.image{
						opacity: 1;
					}
					.section-title{
					}
					.section-subtitle{
						transition-delay: 0.4s;
					}
					.wysiwyg{
						transition-delay: 0.6s;
					}
					.signature{
						transform: scale(1) translate(0,0);
						transition-delay: 0.8s;
					}
					.image{
						transform: scale(1);
						transition-delay: 0.2s;
					}
				}
			}
		}
	}
	
	.section-title{
		margin-bottom: 0.7em;
		text-align: center;
	}

	.row{
		display: flex;
		justify-content: space-between;
		gap: pxem(60);
		
		@media (max-width: $tablet) {
			display: block;
		}

		.image{
			flex: 0 0 auto;
			width: 37%;
			
			@media (max-width: $tablet) {
				margin: 0 auto pxem(30) auto;
				max-width: pxem(400);
				width: 100%;
			}

			img{
				aspect-ratio: 1;
				border-radius: 50%;
				display: block;
				object-fit: cover;
				width: 100%;
			}
		}

		.content{
			flex: 1;
			
			@media (max-width: $tablet) {
				text-align: center;
			}
		}

		.section-subtitle{
			font-size: pxem(27);
			font-weight: 600;
		}
		.wysiwyg{
			color: $brand-brown-lt;

			p{
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.signature{
			clear: both;
			float: right;
			width: pxem(150);
			
			@media (max-width: $tablet) {
				width: pxem(120);
			}
		}
	}
}

.home-table{
	background: $brand-black;
	color: #fff;
	overflow: hidden;
	padding: 18vw 0 pxem(120) 0;
	text-align: center;

	@media (max-width: $laptop) {
		&:after{
			background: linear-gradient(rgba(0,0,0,0), #000);
			content: '';
			display: block;
			opacity: 0.9;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 25%;
			z-index: 4;
		}
	}

	.bg{
		opacity: 0.6;

		&.vis{
			opacity: 0.6 !important;
		}

		img{
			display: block;
			object-fit: cover;
			object-position: center top;
			width: 100%;
			height: 100%;
		}

		@media (max-width: $laptop) {
			aspect-ratio: 1.5;
			// object-fit: contain;
			height: auto;
			bottom: auto;
		
			&:after{
				background: linear-gradient(rgba($brand-black,0), $brand-black);
				content: '';
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50%;
				z-index: 4;
			}
		}
	}
}

.home-guest{
	background: linear-gradient(90deg, $brand-blue, $brand-green);
	color: $brand-grey;
	padding: pxem(90) 0;

	.bg{
		background: url(assets/bg-pattern-tile.png);
		background-size: pxem(360) auto;
		opacity: 0.1;

		&.vis{
			opacity: 0.1 !important;
		}
	}

	.container{
		align-items: center;
		display: flex;
		flex-direction: row-reverse;
		gap: pxem(70);
		justify-content: space-between;

		@media (max-width: $laptop) {
			display: block;
		}

		.js &{
			&.scroll-animate-item{
				.section-title,
				.section-subtitle,
				.wysiwyg,
				.button{
					opacity: 0;
					transition: opacity 0.5s;
				}
				.image{
					opacity: 0;
					transform: scale(0.9);
					transition: all 0.5s;
				}

				&.vis{
					.section-title,
					.section-subtitle,
					.wysiwyg,
					.button,
					.image{
						opacity: 1;
					}
					.section-title{
						transition-delay: 0.2s;
					}
					.wysiwyg{
						transition-delay: 0.4s;
					}
					.button{
						transition-delay: 0.6s !important;
					}
					.image{
						transform: scale(1);
						transition-delay: 0;
					}
				}
			}
		}
	}

	.content{
		flex: 1;
		
		@media (max-width: $laptop) {
			text-align: center;
		}
	}

	.button{
		margin-top: 1em;

		&:hover{
		}
	}

	.image{
		flex: 0 0 auto;
		width: 33%;
			
		@media (max-width: $laptop) {
			margin: 0 auto pxem(30) auto;
			max-width: pxem(300);
			width: 100%;
		}

		img{
			aspect-ratio: 1;
			border-radius: 50%;
			display: block;
			object-fit: cover;
			width: 100%;
		}
	}
}

@keyframes marquee {
	0%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(-100%);
	}
}

.home-sponsorship{
	background: #000;
	color: #fff;
	padding: pxem(50) 0 pxem(70) 0;

	.bg{
		opacity: 0.56;

		&.vis{
			opacity: 0.56 !important;
		}
	}

	.content{
		text-align: center;
	}

	.section-title{
		margin-bottom: 0.3em;
	}
	.section-subtitle{
		margin-bottom: 1em;
	}
	.wysiwyg{
		color: $brand-brown-lt;
	}

	.download{
		background: #000;
		display: flex;
		flex-direction: row-reverse;
		gap: pxem(30);
		justify-content: space-between;
		margin: pxem(30) auto 0 auto;
		max-width: pxem(600);
		padding: pxem(25) pxem(20);
		
		@media (max-width: $phablet) {
			display: block;
			text-align: center;
		}

		.js &{
			&.scroll-animate-item{
				opacity: 0;
				transition: opacity 0.5s;
			
				.dl-content{
					opacity: 0;
					transition: opacity 0.5s;
				}
				.dl-image{
					opacity: 0;
					transform: scale(0.9) rotate(15deg);
					transition: all 0.5s;
				}

				&.vis{
					opacity: 1;

					.dl-content{
						opacity: 1;
						transition-delay: 0.2s;
					}
					.dl-image{
						opacity: 1;
						transform: scale(1) rotate(0deg);
						transition-delay: 0.4s;
					}
				}
			}
		}

		.dl-content{
			flex: 1;
		}
		.section-subtitle{
			margin-bottom: 0.3em;
		}
		.description{
			color: $brand-brown-lt;
		}
		.button{
			margin-top: 1em;
			
			@media (max-width: $phablet) {
				margin-top: 0.5em;
			}
		}

		.dl-image{
			flex: 0 0 auto;
			width: pxem(200);

			@media (max-width: $phablet) {
				margin: 0 auto pxem(10) auto;
				max-width: pxem(300);
				width: 100%;
				// width: pxem(120);
			}
		}
	}

	.sponsors{
		margin-top: pxem(35);
		position: relative;
		z-index: 3;
		
		@media (max-width: $laptop) {
			text-align: center;
		}

		.js &{
			&.scroll-animate-item{
				opacity: 0;
				transition: opacity 0.5s;

				&.vis{
					opacity: 1;
				}
			}
		}

		.title{
			font-size: pxem(23);
			font-weight: 400;
			letter-spacing: 0.13em;
			text-transform: uppercase;
		}

		.sponsors-marquee{
			display: flex;
			align-items: center;
			// gap: pxem(40);
			justify-content: space-between;
			// width: 200%;
			transform: translateX(0%);
		}

		.sponsors-list{
			display: flex;
			align-items: center;
			gap: pxem(40);
			justify-content: space-between;
			list-style: none;
			margin: pxem(30) 0 0 0;
			padding: 0 pxem(40) 0 0;
			// transform: translateX(0);
			// width: 50%;
			animation: marquee 20s infinite linear;

			@media (max-width: $laptop) {
				// flex-wrap: wrap;
				// justify-content: center;
			}
			@media (max-width: $mobile) {
				// display: block;
			}

			.slide{
				// width: pxem(200);

				@media (max-width: $mobile) {
					// margin-top: pxem(40);
				}
			}

			img{
				display: block;
				object-fit: contain;
				max-height: pxem(70);
				max-width: pxem(200);
				
				@media (max-width: $laptop) {
				}
				@media (max-width: $mobile) {
					// margin: 0 auto;
				}
			}

			.button{
				white-space: nowrap;
			}
		}
	}
}

.home-locations{
	background: $brand-brown-lt;
	color: $brand-brown;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	
	@media (max-width: $laptop) {
		display: block;
	}

	.content{
		flex: 0 0 auto;
		padding: pxem(50);
		width: pxem(500);
		// width: 35%;

		@media (max-width: $laptop) {
			text-align: center;
			padding-right: 10%;
			padding-left: 10%;
			width: 100%;
		}
		@media (max-width: $mobile) {
			padding-right: 5%;
			padding-left: 5%;
		}

		.js &{
			&.scroll-animate-item{

				&.vis{
					.wysiwyg{
						transition-delay: 0.2s;
					}
					.button{
						transition-delay: 0.4s !important;
					}
				}
			}
		}
	
		.button{
			margin-top: 1em;
		}
	}

	.map{
		background: $brand-brown;
		flex: 1;
		height: pxem(650);
		// width: 65%;
		
		@media (max-width: $laptop) {
			height: pxem(500);
		}

		#gmap{
			height: 100%;
			width: 100%;
		}
	}
}

.home-blog{
	background: linear-gradient(208deg, $brand-brown 0%, $brand-black 74%);
	color: #fff;
	padding: pxem(60) 0;
	text-align: center;

	.container{
	}

	.content{

		.js &{
			&.scroll-animate-item{
				&.vis{
					.wysiwyg{
						transition-delay: 0.2s;
					}
				}
			}
		}
	}

	.wysiwyg{
		margin-right: auto;
		margin-left: auto;
		max-width: pxem(970);
	}

	.blog-list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: pxem(40);
		// grid-row-gap: pxem(40);
		list-style: none;
		margin: pxem(40) auto 0 auto;
		max-width: pxem(1440);
		padding: 0 pxem(40);
		text-align: left;
		width: 100%;
		
		@media (max-width: $laptop) {
			display: block;
			max-width: 420px;
			padding: 0;
			width: 85%;
		}
		
		.js &{
			&.scroll-animate-item{

				.post{
					opacity: 0;
					transform: translateY(10%);
					transition: all 0.5s;
				}

				&.vis{

					.post{
						opacity: 1;
						transform: translateY(0%);

						&:nth-child(2){
							transition-delay: 0.2s;
						}
						&:nth-child(3){
							transition-delay: 0.4s;
						}
					}
				}
			}
		}

	// 	.post{
	// 		margin-bottom: pxem(40);

	// 		.wrap{
	// 			background: linear-gradient(180deg, $brand-brown 0%, $brand-brown-lt 100%);
	// 			box-shadow: 0 pxem(32) pxem(23) rgba(0, 0, 0, 0.4);
	// 			color: $brand-black;
	// 			display: flex;
	// 			flex-direction: column;
	// 			height: 100%;
	// 			padding: pxem(25);
	// 			text-decoration: none;

	// 			&:hover{

	// 				.image{
	// 					img{
	// 						scale: 1.05;
	// 					}
	// 				}
	// 				.post-title{
	// 					// color: $brand-brown-drk;
	// 					// text-decoration: underline;
	// 				}
	// 				.button{
	// 					color: $brand-black;
	// 				}
	// 			}
	// 		}

	// 		.image{
	// 			flex: 0 0 auto;
	// 			margin-bottom: pxem(15);
	// 			overflow: hidden;
	// 			position: relative;
	// 			width: 100%;
				
	// 			&:after{
	// 				background: linear-gradient(rgba($brand-red-drk,0), $brand-red-drk);
	// 				content: '';
	// 				display: block;
	// 				position: absolute;
	// 				right: 0;
	// 				bottom: 0;
	// 				left: 0;
	// 				width: 100%;
	// 				height: pxem(70);
	// 				z-index: 3;
	// 			}

	// 			img{
	// 				aspect-ratio: 1.3;
	// 				display: block;
	// 				object-fit: cover;
	// 				object-position: center top;
	// 				position: relative;
	// 				transition: scale 0.3s;
	// 				width: 100%;
	// 				z-index: 1;
	// 			}
	// 		}

	// 		.content{
	// 			display: flex;
	// 			flex-direction: column;
	// 			justify-content: space-between;
	// 			flex: 1;
	// 		}

	// 		.post-title{
	// 			margin-bottom: 0.5em;
	// 			transition: color 0.2s;
	// 		}

	// 		.post-meta{
	// 			border-left: 1px solid $brand-black;
	// 			font-size: pxem(14);
	// 			font-weight: 600;
	// 			letter-spacing: 0.03em;
	// 			list-style: none;
	// 			margin: 0 0 1em 0;
	// 			padding: 0 0 0 1em;

	// 			> li{
	// 				margin-bottom: 0.4em;
	// 			}

	// 			ul{
	// 				li{

	// 				}
	// 			}
	// 		}
	// 		.button{
	// 			margin-top: 1em;
	// 		}
	// 	}
	}
}

.home-contact{
	background: $brand-black;
	color: #fff;
	padding: pxem(100) 0 pxem(50) 0;

	.bg{
		opacity: 0.28;
		// object-position: center top;

		&.vis{
			opacity: 0.28 !important;
		}
	}

	.content{

		.js &{
			&.scroll-animate-item{

				.form{
					opacity: 0;
				}

				&.vis{
					.form{
						opacity: 1;
						transition: opacity 0.5s;
					}
					.section-title{
					}
					.wysiwyg{
						transition-delay: 0.2s;
					}
					.form{
						transition-delay: 0.4s;
					}
				}
			}
		}
	}

	.section-title{
		color: $brand-brown-lt;
		text-align: center;
	}
	.wysiwyg{
		color: $brand-brown-lt;
		text-align: center;
	}

	.form{
		margin: pxem(30) auto 0 auto;
		max-width: pxem(860);
	}

	.cta{
		color: #fff;
		font-size: pxem(24);
		font-weight: 600;
		margin-top: 2.5em;
	}
}

#gform_wrapper_1{
	.gform_footer{
		text-align: center;

		&:after{
			display: none;
			opacity: 0.5;
		}
	}
}
#gform_fields_1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: pxem(17);
	grid-column-gap: pxem(37);
	margin: 0;

	@media (max-width: $tablet) {
		grid-template-columns: 1fr;
	}

	.gfield_label {
		color: $brand-brown-lt;
	}

	.gfield{
		padding: 0;
		margin: 0;
		
		@media (max-width: $tablet) {
			grid-column-start: auto !important;
			grid-column-end: auto !important;
			grid-row-start: auto !important;
			grid-row-end: auto !important;
		}

		input,
		textarea,
		.ginput_container_select{
			background: rgba($brand-brown-lt, 0.8);
		}
	}

	.field_type_consent{
		.gform-field-label{
			color: $brand-brown-lt;
		}
	}

	#field_1_2{
		grid-row-start: 2;
	}
	#field_1_6{
		grid-row-start: 3;
	}
	#field_1_3{
		grid-row-start: 4;
	}
	#field_1_7{
		grid-row-start: 1;
		grid-column-start: 2;
	}
	#field_1_5{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 5;

		.ginput_container_textarea{
			flex: 1;
			// height: 100%;

			textarea{
				height: 100%;
			}
		}
	}
	#field_1_9{
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 5;
	}


}
