.single-post {

	.hentry{
		background: $brand-brown-lt;
		box-shadow: 0 pxem(32) pxem(23) rgba(0, 0, 0, 0.4);
		color: $brand-black;
		padding: 3em;
	}

	h1{
		// margin-bottom: 0.2em;
	}

	.post-meta{
		border-left: 1px solid $brand-black;
		font-size: pxem(14);
		font-weight: 600;
		letter-spacing: 0.03em;
		list-style: none;
		margin: 0 0 1em 0;
		padding: 0 0 0 1em;

		> li{
			margin-bottom: 0.4em;
		}

		ul{
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;

			li{
				display: inline-block;
				
				&:after{
					content: ', ';
				}

				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}
	}

	.post-thumbnail{
		float: right;
		margin: 0 0 1em 1em;
		width: 50%;
	}

}

.post-meta{
	font-size: pxem(14);
	list-style: none;
	margin: 0;
	padding: 0;

	li{
		// display: inline-block;

		+ li{
			// &:before{
			// 	content: '|';
			// 	display: inline-block;
			// 	font-weight: 300;
			// 	margin: 0 0.7rem 0 0.5rem;
			// 	opacity: 0.8;
			// }
		}
	}
}

.single-share{
	background: $brand-red;
	color: #fff;
	margin-top: 2em;
	padding: 1em;
	overflow: hidden;
	text-align: center;

	&:hover{

		.addtoany_shortcode{
			opacity: 1;
			transform: translateY(0%);
		}
	}

	.inner{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;
	}

	.share-title{
		font-family: $font-family-headline;
		font-size: pxem(26);
		font-weight: 600;
	}

	.addtoany_shortcode{
		background: $brand-red;
		opacity: 0;
		position: absolute;
		transform: translateY(100%);
		transition: all 0.3s;
		width: 100%;

		.addtoany_list{
			a{
				display: inline-block;
				margin: 0;
				padding: 0;

				&:hover{
					transform: scale(1.05);
				}

				+ a{
					margin-left: 0.2em;
				}

				> span.a2a_svg{
					background: #fff !important;
					border-radius: 0;
					display: block;
					height: 1.2em;
					line-height: 1;
					width: 1.2em;
					opacity: 1;
					padding: 0.1em;

					svg{

						path{
							fill: $brand-red;
						}
					}
				}
			}
		}
	}
}

.single-pagination{
	line-height: 1;
	margin-top: pxem(60);
	position: relative;
	text-transform: uppercase;
	width: 100%;

	ul{
		align-items: center;
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
		width: 100%;
		// height: 100%;
		white-space: nowrap;
		z-index: 5;
	}
	
	.item{
		display: flex;
		align-items: center;
		justify-content: center;
		// float: left;
		width: 30%;
		
		@media (max-width: $laptop) {

			.text{
				span{
					display: none;
				}
			}
		}
		
		@media (max-width: $tablet) {
			width: auto;

			.text{
				display: none;
			}
		}
		
		&.prev{
			justify-content: start;
			text-align: left;

			i{
				margin-right: 0.3em;
			}
		}
		
		&.next{
			justify-content: end;
			text-align: right;

			i{
				margin-left: 0.3em;
			}
		}
		
		&.all{
			justify-content: center;
			text-align: center;
		}
	}

	a{
		display: flex;
		align-items: center;
		font-size: pxem(20);
		font-weight: 700;
		// letter-spacing: 0.02em;
		text-decoration: none;
		text-transform: uppercase;

		&:hover{
		}

		i{
			display: inline-block;
			font-size: 2em;
		}
	}
}